<app-navbar></app-navbar>

<div class="section-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content-primary">
          <span>LOREM IPSUM</span>
          <h2>The All-In-One Wireframing Kit</h2>
        </div>
        <div class="content-description">
          Nec massa viverra eget feugiat pellentesque. Feugiat adipiscing massa
          vitae auctor mi massa. Sodales libero viverra cursus sed duis luctus
          nulla. In malesuada vulputate pharetra ipsum orci.
        </div>
        <div class="container-buttons">
          <a href="#" class="custom-btn me-2">Pruebalo Ahora</a>
          <a href="#" class="custom-btn-outline">Ver Video</a>
        </div>
      </div>
      <div class="col-md-6">
        <iframe
          width="540"
          height="315"
          src="https://www.youtube.com/embed/hfdBZtrlbA4?controls=0&autoplay=1&mute=1&loop=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="section-info">
  <div class="container py-5">
    <div class="row">
      <div class="content-primary-info">
        <h2>
          Construye tu Visión: Crea  
          <span class="color-primary">Diagramas De Secuencia</span>
          Profesionales con Facilidad
        </h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="content-info">
        <div class="content-info-item">
          <span class="span-medium">
            <img src="./assets/images/icon_data.png" alt="icon-data">
            Datos Seguros
          </span><br>
          <img class="my-4" src="./assets/images/frame_user.png" alt="img-user">
          <p>Guarda tus progresos en tu cuenta, lleva tus proyectos contigo a cualquier lado</p>
        </div>
        <div class="content-info-item">
          <span class="span-medium">
            <img src="./assets/images/icon_colaboration.png" alt="icon-colaboration">
            Colaboración
          </span><br>
          <img class="my-4" src="./assets/images/frame_grid.png" alt="img_grid">
          <p>Trabaja solo o con tu equipo, de forma totalmente colaborativa</p>
        </div>
        <div class="content-info-item">
          <span class="span-medium">
            <img src="./assets/images/icon_scope.png" alt="icon-scope">
            Alcance
          </span><br>
          <img class="my-4" src="./assets/images/frame_share.png" alt="img-share">
          <p>Comparte tu proyecto con mas personas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-example">
  <div class="container pb-5">
    <div class="row text-center">
      <div class="content-example">
        <h2>Colabora en <span class="color-primary">Tiempo Real</span></h2>
        <img src="./assets/images/frame_dashboard.png" width="750" height="500" alt="img-dashboard">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
