<nav class="navbar navbar-expand-lg mb-5 mt-3">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <div class="container-logo">
      <img [src]="photo" alt="image-user" />
      <span class="ms-2"
        >Hola, {{ currentUser?.name }} {{ currentUser?.lastName }}!</span
      >
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Links on the center -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/diagrams">Diagramas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>

      <!-- Buttons on the right -->
      <div class="navbar-nav ml-auto">
        <span
          ><img
            src="./assets/images/icon_notification.png"
            alt="icon-notification"
        /></span>
        <span routerLink="/home/configuration" class="mx-3"
          ><img src="./assets/images/icon_config.png" alt="icon-config"
        /></span>
        <span (click)="logout()"
          ><img src="./assets/images/icon_exit.png" alt="icon-exit"
        /></span>
      </div>
    </div>
  </div>
</nav>
