
<!-- Swiper -->
<swiper-wrapper>
    <button class="swiper-button-prev">
        <img src="./assets/images/ic_arrow_left.png" alt="icon_-arrow-left">
    </button>
    
    <div class="content-empty mx-200" *ngIf="cards.length === 0">
      <h2>No tiene proyectos</h2>
    </div>
    
    <swiper-container init="false">
      <swiper-slide *ngFor="let card of cards">
        <div class="card">
            <!-- <img [src]="card.img" alt="" /> -->
            <img src="./assets/images/bg-01.jpg" alt="icon_project">
            <div class="card-description">
              <div class="card-title">
                <h4>Proyecto: <span class="link" (click)="goToDiagram(card)">{{ card.name }}</span></h4>
              </div>
              <div class="card-text">
                <p>
                  {{ card.description }}
                </p>
              </div>
              <div class="card-link">
                <p>Fecha: {{ card.createdAt | date: 'longDate':'':'es-BO'  }}</p>
              </div>
            </div>
        </div>
      </swiper-slide>
    </swiper-container>
    
    <button class="swiper-button-next">
        <img src="./assets/images/ic_arrow_right.png" alt="icon_-arrow-right">
    </button>
    <div class="swiper-pagination"></div>
</swiper-wrapper>
