
<div class="slider-wapper">
  <div class="content-empty mx-200" *ngIf="cards.length === 0">
    <h2>No tiene proyectos</h2>
  </div>

  <div class="slider-container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let card of cards">
        <div class="card">
          <img src="./assets/images/bg-01.jpg" alt="icon_project" />
          <div class="card-description">
            <div class="card-title">
              <h4>Proyecto: <span class="link" (click)="goToDiagram(card)">{{ card.name }}</span></h4>
            </div>
            <div class="card-text">
              <p>
                {{ card.description }}
              </p>
            </div>
            <div class="card-link">
              <p>
                Fecha: {{ card.createdAt | date : "longDate" : "" : "es-BO" }}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  
</div>


