<div class="row m-0 p-0">
  <div class="col-md-6 p-0 bg-image bg-superposition">
    <!-- <img
      src="./assets/images/login-image.png"
      alt="login-imagen"
      class="img-fluid"
    /> -->
  </div>
  <div class="col-md-6">
    <div class="form-grid">
      <h2 class="form-center title-login grid-one">Inicia Sesión</h2>
      <form class="grid-two form-center">
        <div class="form-group mb-3">
          <label for="email" class="mb-1">Correo Electronico</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Ingrese su correo electronico"
          />
        </div>
        <div class="form-group mb-3">
          <label for="password" class="mb-1">Contraseña</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Ingrese su contraseña"
          />
        </div>
        <div class="mb-4">
          <a href="#">Olvide mi contraseña</a>
        </div>
        <button type="button">Iniciar Sesión</button>
      </form>
      <div class="form-center mt-4 grid-three">
        <p class="text-account">¿No tienes cuenta? <a href="#">Crea una cuenta ahora</a></p>
      </div>
    </div>
  </div>
</div>
