<div class="row m-0 p-0">
  <div class="col-md-6 p-0 bg-image bg-superposition">
    <!-- <img
      src="./assets/images/login-image.png"
      alt="login-imagen"
      class="img-fluid"
    /> -->
  </div>
  <div class="col-md-6">
    <div class="form-grid">
      <h2 class="form-center title-login grid-one">Inicia Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="grid-two form-center">
        <div class="w-100">
          <app-alert></app-alert>
        </div>
        <div class="form-group mb-3">
          <label for="email" class="mb-1">Correo Electronico</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
            placeholder="Ingrese su correo electronico"
          />
          <span *ngIf="isValidField('email')" class="form-text text-danger">
            {{ getMessageError('email') }}
          </span>
        </div>
        <div class="form-group mb-3">
          <label for="password" class="mb-1">Contraseña</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-control"
            placeholder="Ingrese su contraseña"
          />
          <span *ngIf="isValidField('password')" class="form-text text-danger">
            {{ getMessageError('password') }}
          </span>
        </div>
        <div class="mb-4">
          <a href="#">Olvide mi contraseña</a>
        </div>
        <button type="submit">Iniciar Sesión</button>
      </form>
      <div class="form-center mt-4 grid-three">
        <p class="text-account">
          ¿No tienes cuenta?
          <a routerLink="/auth/register">Crea una cuenta ahora</a>
        </p>
      </div>
    </div>
  </div>
</div>
