<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-content shadow">
    <span class="close" (click)="closeModal()">
      <img src="./assets/images/ic_close_button.png" alt="icon-close" />
    </span>
    <h2>Completa el Formulario</h2>
    <form [formGroup]="diagramForm" (ngSubmit)="onSubmit()">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-8"> -->
          <div class="form-gropup mb-3">
            <label for="name">Nombre del proyecto:</label>
            <input
              formControlName="name"
              class="form-control shadow-button"
              type="text"
              placeholder="Ingrese un nombre"
            />
            <span *ngIf="isValidField('name')" class="form-text text-danger">
              {{ getMessageError('name') }}
            </span>
          </div>
        <!-- </div> -->
        <!-- <div class="col-md-4">
          <div class="form-group mb-3">
            <label for="date">Fecha:</label>
            <input
              class="form-control shadow-button"
              type="date"
              id="date"
              name="date"
            />
          </div>
        </div> -->
      <!-- </div> -->
      
      <div class="form-group mb-5">
        <label for="description">Descripción:</label>
        <textarea
          formControlName="description"
          class="form-control shadow-button"
          rows="3"
          placeholder="Breve descripción de su proyecto..."
        ></textarea>
        <span *ngIf="isValidField('description')" class="form-text text-danger">
          {{ getMessageError('description') }}
        </span>
      </div>
      <button type="submit" class="custom-btn-secondary shadow-button mx-auto">
        <img class="me-2" src="./assets/images/icon_save.png" alt="icon-save" />
        {{ isEditing ? 'Actualizar' : 'Guardar' }}
      </button>
    </form>
  </div>
</div>
