.container-footer {
  background-color: #0C0C0C;
  color: white;
}

span {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

span img {
  width: 25px;
  margin-right: 10px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.pt-70 {
  padding-top: 70px;
}

