<div class="container-footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <span>
          <img src="./assets/images/icon_about.png" alt="icon-about">
          Nosotros
        </span>
        
        <!-- <div class="d-flex flex-column"> -->
          <a href="#">¿Quienes Somos?</a><br>
          <a href="#">Tutorial</a><br>
          <a href="#">Soporte</a>
        </div>
      <!-- </div> -->
      <div class="col-md-4">
        <span>
          <img src="./assets/images/icon_contact.png" alt="icon-contact">
          Contacto
        </span>
        <p>loremipsum@gmail.com</p>
        <p>+50 456 21566</p>
        <p>Av.Libertador 456, Bolivia.</p>
      </div>
      <div class="col-md-4">
        <span>
          <img src="./assets/images/icon_privacity.png" alt="icon-privacity">
          Política y Privacidad
        </span>
        <p>loremipsum@gmail.com</p>
        <p>+50 456 21566</p>
        <p>Av.Libertador 456, Bolivia.</p>
      </div>
      <div class="text-center pt-70">
        <p>&copy; 2024 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</div>
