<div class="mx-200">
  <div class="row mb-4">
    <div class="d-flex flex-row align-items-center">
      <a routerLink="/home" class="btn btn-secondary px-3">
        <img class="me-2" src="./assets/images/icon_home.png" alt="icon-home" />
        Inicio
      </a>
      <h2 class="txt-title ms-auto my-0">Diagramas</h2>
    </div>
  </div>

  <form [formGroup]="searchForm">
    <!-- <div class="d-flex flex-row mb-5">
      <div class="col-md-3">
        <select
          formControlName="date"
          class="form-select shadow-button ms-2"
        >
          <option value="">Fecha</option>
          <option value="{{date}}" *ngFor="let date of dates">{{ date }}</option>
        </select>
      </div>
    </div> -->

    <div class="row mb-3">
      <div class="d-flex flex-row">
        <div class="col-md-6 search-group">
          <input
            formControlName="search"
            type="text"
            placeholder="Buscar..."
          />
          <img src="./assets/images/icon_search.png" alt="icon-search" />
        </div>
        <div class="form-group ms-auto">
          <input type="date" class="form-control" formControlName="date">
        </div>
        <!-- <div class="form-group ms-auto">
          <button class="btn btn-primary me-3">
            <img class="me-2" src="./assets/images/icon_edit.png" alt="icon-edit">
            Editar
          </button>
          <button class="btn btn-danger">
            <img class="me-2" src="./assets/images/icon_trash.png" alt="icon-trash">
            Eliminar
          </button>
        </div> -->
      </div>
    </div>
  </form>

  <div class="row mb-5 p-2">
    <div class="container-table">
      <div class="table-container">
        <table class="table table-bordered m-0">
          <thead class="table-dark">
            <tr class="text-center text-nowrap">
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Fecha</th>
              <th>Compartido con</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let diagram of projects
                  | paginate : { itemsPerPage: limit, currentPage: page }
              "
            >
              <td class="align-middle"><span class="link" (click)="goToDiagram(diagram)">{{ diagram.name }}</span></td>
              <td class="align-middle">{{ diagram.description }}</td>
              <td class="align-middle">
                {{ diagram.createdAt | date : "longDate" : "" : "es-BO" }}
              </td>
              <td class="align-middle">{{ getCollaboratorNames(diagram.collaborators) }}</td>
              <td class="align-middle text-center text-nowrap" >
                <button 
                  (click)="openModalEdit(diagram)"
                  class="btn btn-primary btn-sm me-1"
                >
                  <img src="./assets/images/icon_edit.png" alt="icon-edit" />
                </button>
                <button
                  (click)="deleteProyect(diagram.id)"
                  class="btn btn-danger btn-sm"
                >
                  <img src="./assets/images/icon_trash.png" alt="icon-trash" />
                </button>
              </td>
            </tr>
            <tr *ngIf="projects.length === 0">
              <td class="text-center" colspan="5">No se encontraron resultados</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <app-custom-modal></app-custom-modal>

      <div *ngIf="projects.length > 0" class="content-pagination">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
